<form {{action "save" on="submit"}}>
  <p>
    <select required onchange={{action (mut proposal.recipientAddress) value="target.value"}}>
      <option value="" selected disabled hidden>Contributor</option>
      {{#each contributors as |contributor|}}
        <option value={{contributor.address}} selected={{eq proposal.recipientAddress contributor.address}}>{{contributor.github_username}}</option>
      {{/each}}
    </select>
  </p>
  <p>
    {{input type="text"
            placeholder="100"
            value=proposal.amount
            class=(if isValidAmount 'valid' '')}}
  </p>
  <p>
    {{input type="text"
            placeholder="URL"
            value=proposal.url
            class=(if isValidUrl 'valid' '')}}
  </p>
  <p>
    {{input type="text"
            placeholder="IPFS Hash"
            value=proposal.ipfsHash
            class=(if isValidIpfsHash 'valid' '')}}
  </p>
  <p class="actions">
    {{input type="submit" value=(if inProgress 'Processing' 'Save') disabled=inProgress}}
    {{#link-to 'index'}}Back{{/link-to}}
  </p>
</form>

