<section id="user-account">
  {{#if setupInProgress}}
    Connecting account...
  {{else}}
    {{#if (and kredits.hasAccounts kredits.currentUser)}}
      {{kredits.currentUser.name}}
      {{#if kredits.currentUserIsCore}}
        <span class="core-flag">(core)</span>
      {{/if}}
    {{else}}
      <span class="anonymous">Anonymous</span>
      <button {{action "signup"}} class="small">Sign up</button>
      {{#if showConnectButton}}
        <button {{action "connectAccount"}} class="small green">Connect account</button>
      {{/if}}
    {{/if}}
  {{/if}}
</section>