<section id="user-account">
  {{#if this.setupInProgress}}
    Connecting account...
  {{else}}
    {{#if (and this.kredits.hasAccounts this.kredits.currentUser)}}
      {{this.kredits.currentUser.name}}
      {{#if this.kredits.currentUserIsCore}}
        <span class="core-flag">(core)</span>
      {{/if}}
    {{else}}
      <span class="anonymous">Anonymous</span>
      <button {{on "click" this.signup}} class="small" type="button">Sign up</button>
      {{#if this.showConnectButton}}
        <button {{on "click" this.connectAccount}} class="small green" type="button">Connect account</button>
      {{/if}}
    {{/if}}
  {{/if}}
</section>