<form {{on "submit" this.submit}}>
  <label>
    <p class="label">Contributor:</p>
    <p>
      <select required onchange={{action (mut this.contributorId) value="target.value"}}>
        <option value="" selected disabled hidden></option>
        {{#each @contributors as |contributor|}}
          <option value={{contributor.id}} selected={{eq this.contributorId contributor.id}}>{{contributor.name}}</option>
        {{/each}}
      </select>
    </p>
  </label>
  <label>
    <p class="label">Kind:</p>
    <p>
      <select required onchange={{action (mut this.kind) value="target.value"}}>
        <option value="" selected disabled hidden></option>
        <option value="community" selected={{eq this.kind "community"}}>Community</option>
        <option value="design" selected={{eq this.kind "design"}}>Design</option>
        <option value="dev" selected={{eq this.kind "dev"}}>Development</option>
        <option value="docs" selected={{eq this.kind "docs"}}>Documentation</option>
        <option value="ops" selected={{eq this.kind "ops"}}>IT Operations</option>
        <option value="special" selected={{eq this.kind "special"}}>Special</option>
      </select>
    </p>
  </label>
  <label>
    <p class="label">Date:</p>
    <p>
      {{ember-flatpickr
        date=this.date
        defaultDate=this.defaultDate
        maxDate=this.defaultDate
        enableTime=true
        time_24hr=true
        onChange=(action (mut this.date))
      }}
    </p>
  </label>
  <label>
    <p class="label">Amount:</p>
    <p>
      {{input type="text"
              placeholder="500"
              value=this.amount
              class=(if this.isValidAmount "valid" "")}}
    </p>
  </label>
  <label>
    <p class="label">Description:</p>
    <p>
      {{input type="text"
              value=this.description
              class=(if this.isValidDescription "valid" "")}}
    </p>
  </label>
  <label>
    <p class="label">URL (optional):</p>
    <p>
      {{input type="text"
              value=this.url
              class=(if this.isValidUrl "valid" "")}}
    </p>
  </label>

  {{#if this.details}}
    <label>
      <p class="label">Details:</p>
      <p>
        <pre>
          {{this.details}}
        </pre>
      </p>
    </label>
  {{/if}}

  <p class="actions">
    {{input type="submit"
            disabled=this.inProgress
            value=(if this.inProgress "Processing" "Save")}}
  </p>
</form>

