<tbody>
  {{#each contributorList as |c|}}
    <tr role="button"
        class="{{if (is-current-user c.contributor) "current-user"}} {{if (eq c.contributor.id selectedContributorId) "selected"}}"
        {{action "openContributorDetails" c.contributor}}>
      <td class="person">
        {{user-avatar contributor=c.contributor}} {{c.contributor.name}}
      </td>
      <td class="kredits">
        <span class="amount">
          {{#if showUnconfirmedKredits}}
            {{c.amountTotal}}
          {{else}}
            {{c.amountConfirmed}}
          {{/if}}
        </span>
        <span class="symbol">₭S</span>
      </td>
    </tr>
  {{/each}}
</tbody>
