<tbody>
  {{#each contributors as |contributor|}}
    <tr role="button" class={{if (is-current-user contributor) "current-user"}} {{action "toggleContributorInfo" contributor}}>
      <td class="person">
        <img class="avatar" src={{contributor.avatarURL}} alt="">
        {{contributor.name}}
      </td>
      <td class="kredits">
        <span class="amount">{{contributor.totalKreditsEarned}}</span>
        <span class="symbol">₭S</span>
      </td>
    </tr>
    <tr class="metadata {{if (is-current-user contributor) "current-user"}} {{if contributor.showMetadata "visible"}}">
      <td colspan="2">
        <ul>
          <li><a href="https://rinkeby.etherscan.io/address/{{contributor.account}}">Inspect Ethereum transactions</a></li>
          {{#if contributor.ipfsHash}}
            <li><a href="https://ipfs.io/ipfs/{{contributor.ipfsHash}}">Inspect IPFS profile</a></li>
          {{/if}}
        </ul>
        {{#if contributor.showMetadata}}
          <pre>{{contributor.ipfsData}}</pre>
        {{/if}}
      </td>
    </tr>
  {{/each}}
</tbody>
