<table class="contributor-list {{if @loading 'loading'}}">
  <thead>
  </thead>
  <tbody>
    {{#each this.contributors as |c|}}
      <tr role="button"
          onclick={{action "openContributorDetails" c.contributor}}
          class="{{if (is-current-user c.contributor) "current-user"}} {{if (eq c.contributor.id @selectedContributorId) "selected"}}">
        <td class="person">
          <UserAvatar @contributor={{c.contributor}} /> {{c.contributor.name}}
        </td>
        <td class="kredits">
          <span class="amount">
            {{#if @showUnconfirmedKredits}}
              {{c.amountTotal}}
            {{else}}
              {{c.amountConfirmed}}
            {{/if}}
          </span>
          <span class="symbol">₭S</span>
        </td>
      </tr>
    {{/each}}
    {{#if this.showToplistOnly}}
      <tr role="button" onclick={{action "showAllContributors"}}>
        <td colspan="2">
          {{this.showAllButtonText}}
        </td>
      </tr>
    {{/if}}
  </tbody>
</table>
