<tbody>
  {{#each contributors as |contributor|}}
    <tr class="{{if contributor.isCurrentUser 'current-user'}}" {{action "toggleContributorInfo" contributor}}>
      <td class="person">
        <img class="avatar" src={{contributor.avatarURL}}>
        {{contributor.github_username}}
      </td>
      <td class="kredits">
        <span class="amount">{{contributor.kredits}}</span>
        <span class="symbol">₭S</span>
      </td>
    </tr>
    <tr class="metadata {{if contributor.isCurrentUser 'current-user'}} {{if contributor.showMetadata 'visible'}}">
      <td colspan="2">
        <dl>
          <dt>Ethereum address</dt>
          <dd><a href="https://testnet.etherscan.io/address/{{contributor.address}}">{{contributor.address}}</a></dd>
          {{#if contributor.ipfsHash}}
            <dt>IPFS profile data</dt>
            <dd><a href="https://ipfs.io/ipfs/{{contributor.ipfsHash}}">{{contributor.ipfsHash}}</a></dd>
          {{/if}}
        </dl>
      </td>
    </tr>
  {{/each}}
</tbody>
