<tbody>
  {{#each contributors as |contributor|}}
    <tr class="{{if contributor.isCurrentUser 'current-user'}}" {{action "toggleContributorInfo" contributor}}>
      <td class="person">
        <img class="avatar" src={{contributor.avatarURL}}>
        {{contributor.name}}
      </td>
      <td class="kredits">
        <span class="amount">{{contributor.kredits}}</span>
        <span class="symbol">₭S</span>
      </td>
    </tr>
    <tr class="metadata {{if contributor.isCurrentUser 'current-user'}} {{if contributor.showMetadata 'visible'}}">
      <td colspan="2">
        <ul>
          <li><a href="https://testnet.etherscan.io/address/{{contributor.address}}">Inspect Ethereum transactions</a></li>
          {{#if contributor.profileHash}}
            <li><a href="https://ipfs.io/ipfs/{{contributor.profileHash}}">Inspect IPFS profile</a></li>
          {{/if}}
        </ul>
      </td>
    </tr>
  {{/each}}
</tbody>
