<tbody>
  {{#each contributorList as |c|}}
    <tr role="button" class={{if (is-current-user c.contributor) "current-user"}} {{action "toggleContributorInfo" c.contributor}}>
      <td class="person">
        {{user-avatar contributor=c.contributor}} {{c.contributor.name}}
      </td>
      <td class="kredits">
        <span class="amount">
          {{#if showUnconfirmedKredits}}
            {{c.amountTotal}}
          {{else}}
            {{c.amountConfirmed}}
          {{/if}}
        </span>
        <span class="symbol">₭S</span>
      </td>
    </tr>
    <tr class="metadata {{if (is-current-user c.contributor) "current-user"}} {{if c.showMetadata "visible"}}">
      <td colspan="2">
        <ul>
          <li><a href="https://testnet.etherscan.io/address/{{c.contributor.account}}">Inspect Ethereum transactions</a></li>
          {{#if c.contributor.ipfsHash}}
            <li><a href="https://ipfs.io/ipfs/{{c.contributor.ipfsHash}}">Inspect IPFS profile</a></li>
          {{/if}}
        </ul>
        {{#if c.contributor.showMetadata}}
          <pre>{{c.contributor.ipfsData}}</pre>
        {{/if}}
      </td>
    </tr>
  {{/each}}
</tbody>
