<tbody>
  {{#each contributorList as |c|}}
    <tr role="button" class={{if (is-current-user c.contributor) "current-user"}} {{action "toggleContributorInfo" c}}>
      <td class="person">
        {{user-avatar contributor=c.contributor}} {{c.contributor.name}}
      </td>
      <td class="kredits">
        <span class="amount">
          {{#if showUnconfirmedKredits}}
            {{c.amountTotal}}
          {{else}}
            {{c.amountConfirmed}}
          {{/if}}
        </span>
        <span class="symbol">₭S</span>
      </td>
    </tr>
    <tr class="metadata {{if (is-current-user c.contributor) "current-user"}} {{if c.showMetadata "visible"}}">
      <td colspan="2">
        <ul>
          <li>
            <a href="https://rinkeby.etherscan.io/address/{{c.contributor.account}}" target="_blank" rel="noopener">Inspect Ethereum transactions</a>
          </li>
          {{#if c.contributor.ipfsHash}}
            <li>
              <a href="https://ipfs.io/ipfs/{{c.contributor.ipfsHash}}" target="_blank" rel="noopener">Inspect IPFS profile</a>
            </li>
          {{/if}}
          <li>
            {{link-to "Edit profile" "contributors.edit" c.contributor.id}}
          </li>
        </ul>
        {{#if c.showMetadata}}
          <pre>{{c.contributor.ipfsData}}</pre>
        {{/if}}
      </td>
    </tr>
  {{/each}}
</tbody>
