<table class="token-balances {{if this.loading 'loading'}}">
  <thead>
    <tr>
      <th>Token</th>
      <th>Amount</th>
      <th>Fiat value</th>
    </tr>
  </thead>
  <tbody>
    {{#each this.balancesSorted as |balance|}}
      <tr>
        <th>
          <img src={{balance.token.icon}}
               alt={{balance.token.description}}
               title={{balance.token.description}} />
        </th>
        <td class="amount">
          {{fmt-number balance.confirmed_balance}} <span class="unit">sats</span>
        </td>
        <td class="fiat-amount">
          ~{{balance.balanceUSD}} USD
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>