<section id="contribution-details" class={{if model.vetoed "vetoed"}}>
  <header class="with-nav">
    <h2>Contribution #{{model.id}}</h2>
    <nav>
      <span class="amount">{{model.amount}}</span>&nbsp;
      <span class="symbol">₭S</span>
    </nav>
  </header>

  <div class="content">
    <p class="who-what-when">
      <span class="contributor">
        <UserAvatar @contributor={{model.contributor}} />
        <LinkTo @route="dashboard.contributors.show" @model={{model.contributor}}>{{model.contributor.name}}</LinkTo>
      </span>
      contributed
      <span class="date" title={{model.iso8601Date}}>{{moment-from model.iso8601Date}}</span>:
    </p>
    <h3>{{model.description}}</h3>
    <p>
      Kind: {{model.kind}}
      <br>Status: {{contribution-status model}}
    </p>
    {{#if model.url}}
      <p>
        <a href={{model.url}}
           title={{model.description}}
           class="button"
           target="_blank"
           rel="noopener">
          Open URL
        </a>
      </p>
    {{/if}}
    {{#if model.vetoed}}
      <div class="hint vetoed">
        <div class="icon">
          <IconWarning />
        </div>
        <p>
          This contribution has been vetoed, meaning no
          kredits will be issued.
        </p>
        <p>
          <LinkTo @route="contributions.resubmit" @model={{model}} class="button small green">Re-submit contribution …</LinkTo>
        </p>
      </div>
    {{/if}}
  </div>

  <div class="actions">
    <p>
      <LinkTo @route="contributions.resubmit" @model={{model}} class="button small">Copy & edit as new</LinkTo>
      {{#if model.ipfsHash}}
        <a href="{{ipfsGatewayUrl}}/{{model.ipfsHash}}"
           class="button small" target="_blank" rel="noopener">
          Inspect IPFS data
        </a>
      {{/if}}
    </p>
  </div>
</section>