<section id="contribution-details" class={{if this.model.vetoed "vetoed"}}>
  <header class="with-nav">
    <h2>Contribution #{{this.model.id}}</h2>
    <nav>
      <span class="amount">{{this.model.amount}}</span>&nbsp;
      <span class="symbol">₭S</span>
    </nav>
  </header>

  <div class="content">
    <p class="who-what-when">
      <span class="contributor">
        <UserAvatar @contributor={{this.model.contributor}} />
        <LinkTo @route="dashboard.contributors.show" @model={{this.model.contributor}}>{{this.model.contributor.name}}</LinkTo>
      </span>
      contributed
      <span class="date" title={{this.model.iso8601Date}}>{{moment-from this.model.iso8601Date}}</span>:
    </p>
    <h3>{{this.model.description}}</h3>
    <p>
      Kind: {{this.model.kind}}
      <br>Status: {{item-status this.model}}
    </p>
    {{#if this.model.url}}
      <p>
        <a href={{this.model.url}}
           title={{this.model.description}}
           class="button"
           target="_blank"
           rel="noopener noreferrer">
          Open URL
        </a>
      </p>
    {{/if}}
    {{#if this.model.vetoed}}
      <div class="hint vetoed">
        <div class="icon">
          <IconWarning />
        </div>
        <p>
          This contribution has been vetoed, meaning no
          kredits will be issued.
        </p>
        <p>
          <LinkTo @route="contributions.resubmit" @model={{this.model}} class="button small green">Re-submit contribution …</LinkTo>
        </p>
      </div>
    {{/if}}
  </div>

  <div class="actions">
    <p>
      <LinkTo @route="contributions.resubmit" @model={{this.model}} class="button small">Copy & edit as new</LinkTo>
      {{#if this.model.ipfsHash}}
        <a href="{{this.ipfsGatewayUrl}}/{{this.model.ipfsHash}}"
           class="button small" target="_blank" rel="noopener noreferrer">
          Inspect IPFS data
        </a>
      {{/if}}
    </p>
  </div>
</section>