<a href={{this.account.url}} target="_blank" rel="noopener noreferrer" title="{{this.account.username}} on {{this.account.site}}">
  <span class="site">{{this.account.site}}</span>
  {{component this.iconComponentName}}
</a>