{{#each contributions as |contribution|}}
  <li data-contribution-id={{contribution.id}} class="{{contribution-status contribution}} {{if contribution.vetoed "vetoed"}}">
    <p class="meta">
      <span class="recipient">{{user-avatar contributor=contribution.contributor}}</span>
      <span class="category {{contribution.kind}}">({{contribution.kind}})</span>
      <span class="title">
        {{#if contribution.url}}
          <a href={{contribution.url}} target="_blank" rel="noopener">{{contribution.description}}</a>
        {{else}}
          {{contribution.description}}
        {{/if}}
      </span>
    </p>
    <p class="kredits-amount">
      <span class="amount">{{contribution.amount}}</span><span class="symbol">₭S</span>
    </p>
    {{#unless contribution.vetoed}}
      {{#unless (is-confirmed-contribution contribution)}}
        <p class="voting">
          <button {{action "veto" contribution.id}} class="small danger">veto</button>
        </p>
      {{/unless}}
    {{/unless}}
  </li>
{{/each}}