{{#each contributions as |contribution|}}
  <li data-contribution-id={{contribution.id}} class={{if contribution.confirmed "confirmed" "unconfirmed"}}>
    <p class="meta">
      <span class="category {{contribution.kind}}">♥ ({{contribution.kind}})</span>
      <span class="recipient">{{contribution.contributor.name}}:</span>
    </p>
    <p class="kredits-amount">
      <span class="amount">{{contribution.amount}}</span><span class="symbol">₭S</span>
    </p>
    <p class="description">
      <span class="description">{{contribution.description}}</span>
    </p>
    <p class="voting">
    </p>
  </li>
{{/each}}