{{#if @showQuickFilter}}
  <div class="quick-filter">
    <p>
      <label class="filter-contributor">
        Contributor:
        <select onchange={{action (mut this.contributorId) value="target.value"}}>
          <option value="" selected>all</option>
          {{#each this.contributorsActive as |contributor|}}
            <option value={{contributor.id}} selected={{eq this.contributorId contributor.id}}>{{contributor.name}}</option>
          {{/each}}
        </select>
      </label>

      <label class="filter-contribution-kind">
        Kind:
        <select onchange={{action (mut this.contributionKind) value="target.value"}}>
          <option value="" selected>all</option>
          {{#each this.contributionKinds as |kind|}}
            <option value={{kind}} selected={{eq this.contributionKind kind}}>{{capitalize-string kind}}</option>
          {{/each}}
        </select>
      </label>

      <label class="filter-contribution-size">
        <Input @type="checkbox" @checked={{this.hideSmallContributions}} />
        Hide small contributions
      </label>
    </p>
  </div>
{{/if}}

<ul class="contribution-list">
  {{#each this.contributionsFiltered as |contribution|}}
    <li role="button" data-contribution-id={{contribution.id}}
        {{action "openContributionDetails" contribution}}
        class="{{if (eq contribution.id @selectedContributionId) " selected"}}">
      <p class="meta">
        <span class="recipient"><UserAvatar @contributor={{contribution.contributor}} /></span>
        <span class="category {{contribution.kind}}">({{contribution.kind}})</span>
        <span class="title">{{contribution.description}}</span>
      </p>
      <p class="kredits-amount">
        <span class="amount">{{contribution.amount}}</span><span class="symbol">₭S</span>
      </p>
      {{#unless contribution.vetoed}}
        {{#unless (is-confirmed-contribution contribution)}}
          <p class="voting">
            {{input type="button" class="button small danger" value="veto"
                    click=(action "veto" contribution.id)
                    disabled=contribution.hasPendingChanges}}
          </p>
        {{/unless}}
      {{/unless}}
    </li>
  {{/each}}
</ul>