<ul class="item-list spaced reimbursement-list {{if @loading 'loading'}}">
  {{#each this.itemsSorted as |reimbursement|}}
    <li data-reimbursement-id={{reimbursement.id}}
        class="{{item-status reimbursement}}">
      <p class="meta">
        <span class="title">
          Expenses covered by {{reimbursement.contributor.name}}
        </span>
        <span class="recipient">
          <UserAvatar @contributor={{reimbursement.contributor}} />
        </span>
      </p>
      <p class="token-amount">
        <span class="amount">
          {{sats-to-btc reimbursement.amount}}</span>&#8239;<span class="symbol">BTC</span>
      </p>
      <ul class="expense-list">
        {{#each reimbursement.expenses as |expense|}}
          <li>
            <div class="description" rowspan="2">
              <h4>
                <span class="date">{{expense.date}}:</span>
                <span class="title">{{expense.title}}</span>
              </h4>
              <p class="description">{{expense.description}}</p>
            </div>
            <div class="amount">
              {{fmt-fiat-currency expense.amount expense.currency}}
            </div>
          </li>
        {{/each}}
      </ul>
      {{#if this.kredits.currentUserIsCore}}
        <p>
          <a href="{{this.ipfsGatewayUrl}}/{{reimbursement.ipfsHash}}"
             class="button small" target="_blank" rel="noopener noreferrer">
            Inspect IPFS data
          </a>
          <button {{on "click" (fn this.veto reimbursement.id)}}
                  disabled={{reimbursement.vetoed}}
                  class="button small danger" type="button">veto</button>
        </p>
      {{/if}}
    </li>
  {{/each}}
</ul>