<section id="contributor-profile">
  <header>
    <UserAvatar @contributor={{this.model}} @size="medium" />
  </header>

  <div class="content">
    <h2>{{this.model.name}}</h2>
    <p class="role">{{this.roleName}}</p>

    <ul class="external-accounts">
      {{#each this.model.accounts as |account|}}
        <li>
          <ExternalAccountLink @account={{account}} />
        </li>
      {{/each}}
      {{#if this.model.url}}
        <li>
          <a href={{this.model.url}} target="_blank" rel="noopener noreferrer" title="Website">
            <span class="site">Web</span>
            <IconWebGlobe />
          </a>
        </li>
      {{/if}}
    </ul>
    <div class="actions">
      <p>
        <LinkTo @route="contributions.new" @query={{hash contributorId=this.model.id}} class="button green">♥ Give kredits</LinkTo>
      </p>
    </div>
  </div>

  <div class="actions">
    <p>
      <a href="https://explorer.testnet.rsk.co/address/{{this.model.account}}" class="button small" target="_blank" rel="noopener noreferrer">Inspect Rootstock transactions</a>
      {{#if this.model.ipfsHash}}
        <a href="{{this.ipfsGatewayUrl}}/{{this.model.ipfsHash}}" class="button small" target="_blank" rel="noopener noreferrer">Inspect IPFS profile</a>
      {{/if}}
      <LinkTo @route="contributors.edit" @model={{this.model}} class="button small">Edit profile</LinkTo>
    </p>
  </div>
</section>
