<section id="contributor-profile">
  <header>
    {{user-avatar contributor=model size="medium"}}
  </header>

  <div class="content">
    <h2>{{model.name}}</h2>
    <p class="role">{{roleName}}</p>

    <ul class="external-accounts">
      {{#each model.accounts as |account|}}
        <li>
          {{external-account-link account=account}}
        </li>
      {{/each}}
      {{#if model.url}}
        <li>
          <a href={{model.url}} target="_blank" rel="noopener" title="Website">
            <span class="site">Web</span>
            {{icon-web-globe}}
          </a>
        </li>
      {{/if}}
    </ul>
    <div class="actions">
      <p>
        {{link-to "♥ Give kredits" "contributions.new"
                  (query-params contributorId=model.id)
                  class="button green"}}
      </p>
    </div>
  </div>

  <div class="actions">
    <p>
      <a href="https://rinkeby.etherscan.io/address/{{model.account}}" class="button small" target="_blank" rel="noopener">Inspect Ethereum transactions</a>
      {{#if model.ipfsHash}}
        <a href="{{ipfsGatewayUrl}}/{{model.ipfsHash}}" class="button small" target="_blank" rel="noopener">Inspect IPFS profile</a>
      {{/if}}
      {{link-to "Edit profile" "contributors.edit" model class="button small"}}
    </p>
  </div>
</section>
