<section id="contributor-profile">
  <header>
    <UserAvatar @contributor={{model}} @size="medium" />
  </header>

  <div class="content">
    <h2>{{model.name}}</h2>
    <p class="role">{{roleName}}</p>

    <ul class="external-accounts">
      {{#each model.accounts as |account|}}
        <li>
          <ExternalAccountLink @account={{account}} />
        </li>
      {{/each}}
      {{#if model.url}}
        <li>
          <a href={{model.url}} target="_blank" rel="noopener" title="Website">
            <span class="site">Web</span>
            <IconWebGlobe />
          </a>
        </li>
      {{/if}}
    </ul>
    <div class="actions">
      <p>
        <LinkTo @route="contributions.new" @query={{hash contributorId=model.id}} class="button green">♥ Give kredits</LinkTo>
      </p>
    </div>
  </div>

  <div class="actions">
    <p>
      <a href="https://rinkeby.etherscan.io/address/{{model.account}}" class="button small" target="_blank" rel="noopener">Inspect Ethereum transactions</a>
      {{#if model.ipfsHash}}
        <a href="{{ipfsGatewayUrl}}/{{model.ipfsHash}}" class="button small" target="_blank" rel="noopener">Inspect IPFS profile</a>
      {{/if}}
      <LinkTo @route="contributors.edit" @model={{model}} class="button small">Edit profile</LinkTo>
    </p>
  </div>
</section>
