{{#each proposals as |proposal|}}
  <li data-proposal-id={{proposal.id}}>
    <span class="category {{proposal.kind}}">♥</span>
    <span class="amount">{{proposal.amount}}</span><span class="symbol">₭S</span>
    for <span class="recipient" title="{{proposal.recipientAddress}}">{{proposal.recipientName}}</span>
    <span class="votes">({{proposal.votesCount}}/{{proposal.votesNeeded}} votes)</span>

    {{#unless proposal.executed}}<button {{action "confirm" proposal.id}}>+1</button>{{/unless}}
  </li>
{{/each}}
