{{#each proposals as |proposal|}}
  <li>
    Issue{{#if proposal.executed}}d{{/if}}
    <span class="amount">{{proposal.amount}}</span><span class="symbol">₭S</span>
    to <span class="recipient" title="{{proposal.recipientAddress}}">{{proposal.recipientName}}</span>
    <span class="votes">({{proposal.votesCount}}/{{proposal.votesNeeded}} votes)</span>

    <button {{action "confirm"}}>+1</button>
  </li>
{{/each}}
