{{#each proposals as |proposal|}}
  <li data-proposal-id={{proposal.id}} title="{{proposal.description}}">
    <p class="meta">
      <span class="category {{proposal.kind}}">♥ ({{proposal.kind}})</span>
      <span class="recipient">{{proposal.contributor.name}}:</span>
      <span class="amount">{{proposal.amount}}</span><span class="symbol">₭S</span>
      {{#unless proposal.isExecuted}}
        <span class="votes">({{proposal.votesCount}}/{{proposal.votesNeeded}} votes)</span>
        <button {{action "confirm" proposal.id}}>+1</button>
      {{/unless}}
    </p>
    <p class="description">
      <span class="description">{{proposal.description}}</span>
    </p>
  </li>
{{/each}}
