<main id="index">

  <div id="stats">
    <section id="people">
      <header class="with-nav">
        <h2>Contributors</h2>
        {{#if kredits.hasAccounts}}
          <nav>
            {{link-to "add" "contributors.new" title="Add contributor profile" class="button small green"}}
          </nav>
        {{/if}}
      </header>
      <div class="content">
        {{contributor-list contributorList=kreditsToplist
                           showUnconfirmedKredits=showUnconfirmedKredits}}

        <p class="stats">
          <span class="number">{{await kredits.totalKreditsEarned}}</span> kredits confirmed and issued to
          <span class="number">{{contributorsWithKredits.length}}</span> contributors
        </p>
        <p class="stats">
          {{input type="checkbox" id="hide-unnconfirmed-kredits" checked=showUnconfirmedKredits}}
          <label for="hide-unnconfirmed-kredits">Show unconfirmed kredits in toplist</label>
        </p>
      </div>
    </section>

    <section id="contributions-by-type">
      <header>
        <h2>Contributions by type</h2>
      </header>
      <div class="content">
        {{chart-contributions-by-type contributions=contributions}}
      </div>
    </section>
  </div>

  <div id="contributions">
    {{#if contributionsUnconfirmed}}
      <section id="contributions-unconfirmed">
        <header class="with-nav">
          <h2>Latest Contributions</h2>
          {{#if kredits.hasAccounts}}
            <nav>
              {{link-to "add" "contributions.new" title="Submit a contribution" class="button small green"}}
            </nav>
          {{/if}}
        </header>
        <div class="content">
          {{!-- TODO: We need a better naming for kredits.hasAccounts --}}
          {{contribution-list contributions=contributionsUnconfirmedSorted
                              vetoContribution=(action "vetoContribution")
                              contractInteractionEnabled=kredits.hasAccounts}}
        </div>
      </section>
    {{/if}}

    <section id="contributions-confirmed">
      <header>
        <h2>Confirmed Contributions</h2>
      </header>
      <div class="content">
        {{contribution-list contributions=contributionsConfirmedSorted
                            vetoContribution=(action "vetoContribution")}}
      </div>
    </section>
  </div>

</main>
