<main id="index">

  <div id="stats">
    <section id="people">
      <header>
        <h2>Contributors</h2>
      </header>
      <div class="content">
        {{contributor-list contributors=contributorsSorted}}

        <p class="stats">
          <span class="number">{{await kredits.totalSupply}}</span> kredits issued and distributed among
          <span class="number">{{contributorsWithKredits.length}}</span> contributors.
        </p>
      </div>
    </section>

    <section id="contributions-by-type">
      <header>
        <h2>Contributions by type</h2>
      </header>
      <div class="content">
        {{chart-contributions-by-type contributions=proposalsClosed}}
      </div>
    </section>
  </div>

  <div id="contributions">
    {{#if proposalsOpen}}
      <section id="proposals-open">
        <header>
          <h2>Unconfirmed Contributions</h2>
        </header>
        <div class="content">
          {{!-- TODO: We need a better naming for kredits.hasAccounts --}}
          {{proposal-list proposals=proposalsOpenSorted
                          confirmProposal=(action "confirmProposal")
                          contractInteractionEnabled=kredits.hasAccounts}}
        </div>
      </section>
    {{/if}}

    <section id="proposals-closed">
      <header>
        <h2>Confirmed Contributions</h2>
      </header>
      <div class="content">
        {{proposal-list proposals=proposalsClosedSorted
                        confirmProposal=(action "confirmProposal")}}
      </div>

      {{!-- TODO: We need a better naming --}}
      {{#if kredits.hasAccounts}}
        <p class="actions">
          {{#link-to 'proposals.new'}}Create new proposal{{/link-to}}
        </p>
      {{/if}}
    </section>
  </div>

  {{#if kredits.hasAccounts}}
    <section id="add-contributor">
      <header>
        <h2>Add Contributor</h2>
      </header>

      <div class="content">
        {{#if kredits.currentUser.isCore}}
          {{add-contributor contributors=contributors save=(action 'save')}}
        {{else}}
          Only core team members can add new contributors. Please ask someone to set you up.
        {{/if}}
      </div>
    </section>
  {{/if}}

</main>
